.portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    z-index: 1;
}


.portfolio:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: #f6f6f6;
    object-fit: contain;
}

.portfolio__title{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin: 0 0 50px 0;
}

.portfolio__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.portfolio__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 510px;
    /*TODO УБРАТЬ ФИКСИРОВАННУЮ ВЫСОТУ ПОСЛЕ ПРАВИЛЬНЫХ СКРИНОВ*/
    margin-bottom: 100px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    text-align: center;
    cursor: default;
}

.portfolio__item:last-of-type{
    margin-bottom: 0;
}

.portfolio__links{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(7,7,7, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.3s ease-out 0s;
}

.portfolio__item:hover .portfolio__links{
    visibility: visible;
    opacity: 1;
}

.portfolio__link__info{
    background: url("../../images/info.svg") no-repeat center center;
    background-size: contain;
    height: 45px;
    width: 45px;
    margin-right: 5px;
    transition: transform 0.2s ease-out 0s;
    cursor: pointer;
    z-index: 3;
}

.portfolio__link__info:hover{
    transform: scale(1.1);
}

.portfolio__link__external{
    background: url("../../images/external-link.png") no-repeat center center;
    background-size: contain;
    height: 45px;
    width: 45px;
    transition: transform 0.2s ease-out 0s;
    z-index: 3;
    border-radius: 15px;
}

.portfolio__link__external:hover{
    transform: scale(1.1);
}

.portfolio__item__image{
    width: 100%;
    margin-bottom: 15px;
    height: 100%;
}

/*project description block*/

.portfolio__menu-toggle{
    display: none;
    margin: 0;
    padding: 0;
}

.portfolio__menu-toggle:checked ~ .portfolio__menu-box {
    visibility: visible;
    opacity: 1;
}

.portfolio__menu-toggle:checked ~ .portfolio__link__info{
    background: url("../../images/close-black.png") no-repeat center center;
    background-size: contain;
    align-self: start;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 20px;
}

.portfolio__menu-toggle:checked ~ .portfolio__link__external{
    background: url("../../images/external-link-black.png") no-repeat center center;
    background-size: contain;
    align-self: start;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 16px;
}


.portfolio__menu-box {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e9e9e9;
    opacity: 0;
    transition: all 0.3s linear 0s;
    box-shadow: 5px 5px 5px #d0d0d0;
}